.features {
  text-align: center;
  padding: 50px 10px;
  background: var(--card-bg);
  color: var(--text-color); 
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.features p {
  color: var(--price-text); 
  font-size: 1rem;
  margin-bottom: 40px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature-item {
  background: var(--card-bg); 
  border-radius: 12px;
  padding: 30px;
  width: 250px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--card-shadow); 
  position: relative;
}


.feature-item h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 0.9rem;
  color: var(--price-text); 
}

.feature-item a {
  display: inline-block;
  margin-top: 10px;
  color: var(--button-bg);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.feature-item a:hover {
  color: var(--positive-color); 
}


.feature-icon {
  font-size: 2rem;
  color: var(--button-bg);
  margin-bottom: 10px;
}
