.market-trend {
    padding: 60px 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.card {
    background: var(--card-bg);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid var(--card-border);
    box-shadow: var(--card-shadow); 
    border-radius: 12px;
    color: var(--text-color);
    text-align: left;
    width: 280px;
    min-height: 160px;
    padding: 25px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 25px var(--card-shadow);
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.coin-logo {
    width: 32px;
    height: 32px;
}

.coin-symbol {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.1);
}

.price {
    font-size: 28px;
    font-weight: bold;
    color: var(--price-text);
    text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .card {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] .card:hover {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.8);
}

[data-theme="light"] .card {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

[data-theme="light"] .card:hover {
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.2);
}

.coin-name {
    background: var(--coin-name-bg);
    color: var(--text-color);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.external-link {
    background: var(--external-link-bg);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.external-link svg {
    color: var(--text-color);
    font-size: 16px;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.change {
    font-size: 14px;
    font-weight: bold;
}

.positive {
    color: var(--positive-color);
    text-shadow: 0px 1px 4px rgba(0, 255, 153, 0.5);
}

.negative {
    color: #ff5577;
    text-shadow: 0px 1px 4px rgba(255, 85, 119, 0.5);
}

.chart-container {
    position: absolute;
    bottom: 15px;
    right: 12px;
    width: 90px;
    height: 40px;
}
