.market-update {
  background: var(--card-bg);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); 
  color: var(--text-color); 
  padding: 40px;
  border-radius: 12px;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid var(--card-border); 

}

.market-update h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.crypto-categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.crypto-categories button {
  background: var(--coin-name-bg);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}

.crypto-categories button:hover,
.crypto-categories .active {
  background: var(--button-bg); 
}


.search-bar {
  position: relative;
  margin-left: auto;
  padding:auto;
  margin-bottom: 20px;
  width: 200px; 
  }


.search-bar input {
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  border-radius: 8px;
  border: 1px solid var(--card-border);
  background: var(--card-bg);
  color: var(--text-color);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--price-text);
}


table {
  width: 100%;
  border-collapse: collapse;
  background: var(--card-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  overflow: hidden;
}

thead {
  background: var(--card-border);
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 0.95rem;
}

th {
  font-weight: 600;
  color: var(--text-color);
}

tr {
  border-bottom: 1px solid var(--card-border);
}

td img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-right: 10px;
}

.symbol {
  color: var(--price-text);
  font-size: 0.85rem;
}


.positive {
  color: var(--positive-color);
}

.negative {
  color: #ff4c4c;
}

td .Sparklines {
  display: block;
  width: 80px;
  height: 30px;
}


.trade-btn {
  background: var(--button-bg);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.trade-btn:hover {
  background: var(--button-hover);
}

.see-all {
  display: block;
  text-align: left;
  margin-top: 20px;
  color: var(--button-bg);
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}

.see-all:hover {
  color: var(--positive-color);
}

@media (max-width: 768px) {
  .market-update {
    padding: 20px;
  }
  
  th, td {
    padding: 10px;
    font-size: 0.85rem;
  }

  .crypto-categories {
    flex-wrap: wrap;
  }

  .search-bar {
    width: 100%;
  }
}

[data-theme="dark"] .market-update {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

[data-theme="light"] .market-update {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
